{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block title %}
    {{ object.name }} {{ object.established_date }} ||
{% endblock %}

{% block content %}

{% for err in errors %}
    <div class="card text-white bg-danger mb-3">
     <div class="card-body"> <strong>Erreur :</strong> {{ err }}.</div>
    </div>
{% endfor %}
{% include 'production/table_forecast.html' %}

{% block extra_css %}
    <style type="text/css">
     .header {
            margin-top: 0px;
            margin-left: 0px;
            width:100%;
            z-index: -10;
        }
        .footer {
            position: relative;
            bottom: 0px;
            margin-left: 0px;
            width: 90%;
            height: auto;
            text-align: center;
            line-height: 0px;
            z-index: -10;
        }
    </style>
{% endblock extra_css %}

{% endblock %}
